$padWidth: 90px;
$padHeight: 70px;

.pad-bank{   

    display: grid;
    place-items: center;
    gap: .8rem;
    grid-template-columns: repeat(3, 1fr);
    // width: $padWidth * 3 + 32;
    // height: $padHeight * 3 + 32;
    margin: 0;

    .drum-pad{
        position: relative;
        cursor: pointer;
        user-select: none;
        width: $padWidth;
        height: $padHeight;
        padding: 0.5em;
        border-radius: 0.5em;
    }
    
}